
/* CSS pre-processing by {less}. http://lesscss.org/
***************************************************/

// Note: CSS system is designed mobile-first, so
// styles are defined first for the smallest screens
// and styles are added and overridden for increasingly
// larger screens within new breakpoints.

/**************************************************
*********       Mobile+ Breakpoint        *********
***************************************************/

/* Color Definitions
***************************************************/


@white: #ffffff;
@darkGrey: #19273B;
@darkGreyTrans: rgba(6,23,47,0.0);
@darkGreyTrans80: rgba(6,23,47,0.8);
@blue: #0096FF;
@blueTrans: rgba(0, 150, 255, 0.0);
@lightBlue: #C7DDF6;
@darkBlue: #0078C1;
@mediumGrey: #576F7F;
@lightGrey: #A0B0BB;
@extraLightGrey: #B8C4CD;
@faintGrey: #DDE3E9;

@lightGradientUp: linear-gradient(0deg, #F3F5F7 9%, #FFFFFF 100%);
@lightGradientDown: linear-gradient(180deg, #F3F5F7 9%, #FFFFFF 100%);
@blueGradient: linear-gradient(-135deg, #007FFF 0%, #4961DD 100%);
@darkGradient: linear-gradient(-135deg, #4B6676 0%, #243541 0%, #2C4252 0%, #111C39 100%);

@cardShadows: 0 0 30px 0 rgba(168,183,201,0.20);
@cardShadowsHover: 0 0 5px 0 rgba(168,183,201,0.05);

@glow: 0 0 10px 5px rgba(255,255,255,0.5);

@insetShadow: inset 0 0 20px 0 rgba(168,183,201,0.05);


/* Base Page Styles (Mobile+)
***************************************************/

// Description: Best practice stuff that rarely needs to
// be overridden.

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: @white;
  color: @darkGrey;
  font-family: "roboto",sans-serif;
  font-size: 100%;
  line-height: 1.5;
  font-weight: normal;
}

.site-container {
  overflow: hidden;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* Base Typography (Mobile+)
***************************************************/

// Description: basic text styles independent of
// a presumed container element. Further styling can
// happen within page-specific styles

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  line-height: 1.2em;
  .antialiased;
  strong { font-weight: 900; }
  b { font-weight: 900; }
}
h1, h2 {
  font-family: "aglet-slab",sans-serif;
  font-weight: 400;
}
h3 {
  font-family: "roboto-condensed",sans-serif;
}
h1 { font-size: 35px; }
h2 { font-size: 26px; }
h3 { font-size: 20px; margin-bottom: -.4em; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
p { font-size: 14px; color: @mediumGrey; }
a {
  color: @blue;
  &:hover { @lightBlue; }
}

// Buttons (Mobile+)

a.button {
  display: block;
  width: 100%;
  background-color: rgba(255,255,255,0);
  border: 1px solid @white;
  font-size: 16px;
  color: @white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s;
  border-radius: 2px;
  &:hover { background-color: rgba(255,255,255,1); color: @blue; }
}
a.button-dark {
  color: @blue;
  border-color: @blue;
  background-color: @blueTrans;
  &:hover { background-color: @blue; color: @white; }
}

// Misc. Re-usable stuff (Mobile+)

blockquote { font-size: 14px; font-style: italic; }
.source-name { font-size: 14px; color: @darkGrey; font-weight: 900; }
.source-title { font-size: 14px; color: @mediumGrey; }
.source-photo {
  img {
    border-radius: 1000px;
    width: 60px;
    height: 60px;
    border: 1px solid @white;
    box-shadow: 0 0 10px 5px rgba(255,255,255,.5)
  }
}

/* Section Definitions (Mobile+)
***************************************************/

// Description: Core, easy-to-get-to theme colors
// and images for major sections.

.hero, .masthead, .cta, .culture, .teams {
  background-color: @blue;
  h1, h2, h3, h4, h5, h6 { color: @white; }
  p { color: @lightBlue; }
}
.masthead {
  background-size: cover;
  text-align: center;
}
.cta {
  background: url(../assets/images/background-masthead-generic.png) center center no-repeat;
  background-size: cover;
  text-align: center;
}
.culture, .teams {
  background-color: @darkGrey;
  color: @lightGrey;
  p { color: @lightGrey; }
}


/* Base Section System Styles (Mobile+)
***************************************************/

// Description: Layout system for consistent width,
// padding and margins across the site.

header, section, footer { width: 100%; }

section { padding: 3em 0em; }

.section-heading {
  padding-bottom: 1em;
  text-align: left;
  p { font-size: 16px; }
}
.section-cta {
  overflow: hidden;
  padding-bottom: 1em;
  margin-bottom: 0px;
}
.margins {
  margin: 0 auto;
  padding: 0 1em;
}
.vmargins {
  padding-top: 3em;
  padding-bottom: 1em;
}
.halves {
  display: block;
  margin-bottom: 24px;
  div {
    width: 100%;
  }
  .text-half { padding: 3em 1em; }
  .image-half {
    background-size: cover;
    height: 300px;
    background-position: center center;
  }
}

.centered {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


/* Global Modules (Mobile+)
***************************************************/

// Description: Items that appear across the site and should
// have a page-independent presentation.

/***************/
// These show up on every page (Mobile+)

.site-header {
  background-color: @white;
  .corp-navigation {
    padding: 15px 0;
    .margins {
      display: flex;
      justify-content: space-between;
      height: 35px;
      .codetocure {
        line-height: 35px;
        img {
          height: 16px;
        }
      }
      .corporate {
        display: flex;
        .corporate-logo {
          padding-left: 20px;
          a {
            line-height: 35px;
            img { height: 35px; }
          }
        }
        .corporate-nav {
          display: none;
          .corporate-nav-list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            li {
              padding: 0 10px 3px;
              margin-top: 5px;
              list-style: none;
              font-size: 12px;
              border-left: 1px solid @lightGrey;
              &:first-child { border-left: none; }
              a {
                color: @darkBlue;
                text-decoration: none;
                transition: color .2s;
                &:hover { color: @darkGrey }
              }
            }
          }
        }
      }
    }
  }
}

.site-navigation {
  border-bottom: 1px solid @faintGrey;
  .margins {
    .nav-list {
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 1.5em 0 0 0;
      li {
        margin: 0 1.5em;
        list-style: none;
        text-align: center;
        padding: 0 0 1em;
        border-bottom: 4px solid transparent;
        a {
          text-decoration: none;
        }
        .nav-icon {
          display: block;
          opacity: 0.6;
          transition: opacity .2s;
        }
        .nav-text {
          color: @darkGrey;
          opacity: 0.6;
          transition: opacity .2s;
        }
        .nav-icon-active { display: none;}
        &:hover {
          .nav-icon {
            opacity: 1;
          }
          .nav-text {
            opacity: 1;
          }
        }

      }
      li.active-link {
        border-color: @blue;
        a {  }
        .nav-icon {
          display: none;
        }
        .nav-text {
          opacity: 1;
          color: @blue;
        }
        .nav-icon-active { display: block; }
      }
    }
  }
}

.site-footer {
  padding: 1.5em 0;
  .margins {
    .footer-logo {
      text-align: center;
      line-height: 35px;
      padding-top: 2em;
      img {
        height: 35px;
        padding: 5px 0;
      }
    }
    .footer-copyright {
      display: flex;
      justify-content: center;
      flex-flow: row-reverse;
      padding-top: 2em;
      .footer-copyright-text {
        color: @lightGrey;
        line-height: 35px;
        font-size: 14px;
      }
      .footer-copyright-logo {
        margin-right: 10px;
        margin-left: 0px;
        img {
          height: 35px;
        }
      }
    }
  }
}

/***************/
// These show up only on some pages (Mobile+)

section.masthead {
  padding: 2em 0em;


  &.masthead-culture { background: @blue url(../assets/images/background-masthead-culture-narrow.png) center center no-repeat; background-size: cover; }
  &.masthead-positions { background: @blue url(../assets/images/background-masthead-positions-narrow.png) center center no-repeat; background-size: cover; }
}

section.cta {
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
  p {
    font-size: 16px;
    text-align: center;
  }
  h2 {
    text-align: center;
    line-height: 1;
    margin: 0;
    padding: 0;
    background: none;
    a {
      color: @white;
      text-decoration: none;
      padding-bottom: .4em;
      border-bottom: 1px solid rgba(255,255,255,0);
      transition: all .2s;
      &:hover {
        border-bottom: 1px solid rgba(255,255,255,1);
      }
    }
  }
}

/* Page-specific Modules
***************************************************/

// Description: Unique or uncommon page-specific styles
// broken up by the section they appear in.

/***************/
// Landing (Mission) Page (Mobile+)

section.hero {
  padding: 3em 0 2em;
  position: relative;
  background: @blue url(../assets/images/background-hero.png) center center no-repeat;
  background-size: cover;
  .margins {
    img {
      width: 150px;
      margin-bottom: 0;
      animation: fadeinnomove 1.0s ease-out;
    }
    h1, p, .section-cta { position: relative; }
    h1 { animation: fadeinnomove 1.0s ease-out; }
    p { animation: fadeinnomove 1.1s ease-out; }
    .section-cta { animation: fadeinnomove 1.175s ease-out; }
    .section-heading { padding-bottom: 0; }
  }
  @keyframes fadeinnomove {
      0%    { opacity: 0; }
      100%  { opacity: 1; }
  }
  @keyframes fadein {
      0%    { opacity: 0; }
      60%   { opacity: 0; top: 30px; right: 30px; }
      100%  { opacity: 1; top: 0; right: 0; }
  }
}

section.intro {
  padding: 0;
  .intro1 { background-image: url(../assets/images/intro1.jpg); }
  .intro2 { background-image: url(../assets/images/intro2.jpg); }
}

section.teams {
  padding-top: 0;
  .teams-grid {
    .team {
      margin-bottom: 24px;
    }
  }
}


/***************/
// Culture Page (Mobile+)

section.videos {
  padding-bottom: 1em;
  position: relative;

  .video-grid {
    position: relative;
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    height: 250px;

    .grid-column {
      position: relative;
      padding: 0 5px;
      height: 100%;

      .gvideo {
        position: relative;
        background-size: 120%;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 10px 0;
        overflow: hidden;
        width: 100%;
        overflow: hidden;
        border-radius: 2px;
        box-shadow: @cardShadows;
        transition: all .3s;
        &:hover {
          background-size: 130%;
        }
        .play-button {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          text-align: center;
          background-color: @darkGreyTrans;
          opacity: 0.80;
          transition: background-color .3s;
          img {
            .centered;
            max-height: 30px;
            max-width: 100%;
          }
          span {
            display: none;
          }
          &:hover {
            background-color: @darkGreyTrans80;
            opacity: 1;
          }
        }
      }
      .vid-topleft { background-image: url(../assets/images/vid-topleft.jpg); }
      .vid-bottomleft { background-image: url(../assets/images/vid-bottomleft.jpg); }
      .vid-topright { background-image: url(../assets/images/vid-topright.jpg); }
      .vid-bottomright { background-image: url(../assets/images/vid-bottomright.jpg); }
      .row-large { height: 60%; }
      .row-small { height: 40%; }
    }
    .grid-large { width: 60%; }
    .grid-small { width: 40%; }
  }
}

section.impact {
  .testimonies {
    .testimony {
      position: relative;
      display: block;
      margin: 10px 0;
      top: 0;
      padding: 20px;
      border: 1px solid @faintGrey;
      border-radius: 2px;
      box-shadow: @cardShadows;
      text-decoration: none;
      transition: all .2s ease-out;
      blockquote {
        padding: 0;
        margin: 0 0 6em;
        p { font-size: inherit; }
      }
      .source {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        display: flex;
        justify-content: flex-end;
        .source-info {
          text-align: right;
          padding-top: 7px;
        }
        .source-photo {
          padding-left: 20px;
        }
      }
      &:hover {
        background-color: @blue;
        box-shadow: @cardShadowsHover;
        border: 1px solid @blue;
        top: -15px;
        transform: rotate(1deg);
        blockquote {
          p { color: @lightBlue; }
        }
        .source {
          .source-name { color: @white; }
          .source-title { color: @faintGrey; }
        }
      }
    }
  }
}

section.culture {
  .values-grid {
    .value {
      margin-bottom: 24px;
    }
  }
}

section.benefits {
  .benefits-grid {
    .benefit {
      margin-bottom: 24px;
    }
  }
}


/***************/
// Story Page (Mobile+)

article.story {
  .story-heading {
    padding: 0 0 1em;
    div {
      display: block;
      justify-content: center;
      .story-title {
        font-size: 28px;
      }
      .story-back-button {
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 40px;
        text-align: center;
        padding: 0;
        margin: 1.5em 0 2em;
        img {
          .centered;
          opacity: 0.2;
          transition: opacity .3s;
        }
        &:hover {
          img { opacity: 1; }
        }
      }
    }
  }
  .story-content {
    padding-top: 0;
    .story-meta {
      display: flex;
      justify-content: flex-start;
      padding: .5em 0 1em;
      .source-info {
        padding: .5em 0;
        text-align: left;
        p { margin: 0; }
      }
      .source-photo {
        padding-right: 20px;
        margin: 0;
      }
    }
  }
}


/***************/
// Positions Page (Mobile+)

section.open-positions {
  padding-bottom: 0;
  .jv-page { max-width: auto; }
  .jv-careersite {
    a { display: none; }
    p .button { display: block; }
    .jv-replace-on-mobile { padding-bottom: 3em; }
  }
}

@media screen and (max-width: 640px) {
  // Break grid and stack blocks on small screens

}

/**************************************************
*********        Tablet+ Breakpoint       *********
***************************************************/

// Description: Styles here are only applied to tablet and larger

@media screen and (min-width: 640px) {

  /* Base Typography (Tablet+)
  ***************************************************/

  h2 {
    background:url(../assets/images/heading-deco.svg) top center no-repeat;
    padding-top: 1.5em;
  }

  .button { width: 35%; }


  /* Base Section System Styles (Tablet+)
  ***************************************************/

  section {
    padding: 6em 0em;
  }

  .vmargins {
    padding-top: 6em;
    padding-bottom: 1em;
  }

  .section-heading {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 4em;
    text-align: center;
  }

  .section-cta {
    padding-bottom: 3em;
    text-align: center;
  }

  .halves {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 48px;
    .text-half {
      padding: 0;
      width: 50%;
      .text-container {
        padding: 6em 2em 4em;
      }
    }
    .image-half {
      width: 50%;
      height: auto;
    }
  }
  .reverse-halves {
    flex-flow: row-reverse;
    .text-half {
      .text-container {
        padding-right: 2em;
      }
    }
  }
  .narrow { max-width: 600px}

  .extra-narrow { max-width: 500px}


  /* Global Modules (Tablet+)
  ***************************************************/

  /***************/
  // These show up on every page (Tablet+)

  .site-header {
    .corp-navigation {
      .margins {
        .codetocure {}
        .corporate {
          .corporate-logo { }
          .corporate-nav {
            display: block;
          }
        }
      }
    }
  }

  .site-footer {
    padding: 1.5em 0;
    .margins {
      display: flex;
      justify-content: space-between;
      .footer-logo { text-align: left; padding-top: 0; }
      .footer-copyright {
        flex-flow: row;
        padding-top: 0;
        display: flex;
        justify-content: flex-end;
        .footer-copyright-logo {
          margin-right: 0px;
          margin-left: 10px;
        }
        img {
          height: 35px;
        }
      }
    }
  }


  /***************/
  // These show up only on some pages (Tablet+)

  section.masthead { padding: 3em 0; }
  section.cta {
    padding-top: 3.5em;
      .margins {
        max-width: 100%;
        width: 100%;
      }
  }



  /* Page-specific Modules (Tablet+)
  ***************************************************/

  /***************/
  // Landing (Mission) Page (Tablet+)

  section.hero {
    padding: 6em 0 2em;
    .margins {
      text-align: center;
      img {
        width: 500px;
        margin-bottom: 2em;
      }
      .button {
        width: 35%;
        margin: 0 auto;
      }
    }
  }

  section.intro {
    .intro1 { border-radius: 0 20px 20px 0; }
    .intro2 { border-radius: 20px 0 0 20px; }
  }

  section.teams {
    padding-top: 3em;
    .teams-grid {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .team {
        width: 45%;
      }
    }
  }


  /***************/
  // Culture Page (Tablet+)

  section.videos {
    .video-grid {
      height: 500px;
      .grid-column {
        .gvideo {
          .play-button {
            img {
              max-height: 50px;
              max-width: 100%;
              transition: all .3s;
            }
            span {
              display: block;
              position: absolute;
              bottom: 20px;
              left: 20px;
              right: 20px;
              color: white;
              opacity: 0;
              transition: all .3s;
            }
            &:hover {
              img {
                max-height: 35px;
                top: -15px;
              }
              span {
                opacity: 1;
                bottom: 60px;
              }
            }
          }
        }
      }
    }
  }

  section.culture {
    .values-grid {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .value {
        display: block;
        width: 45%;
      }
    }
  }

  section.benefits {
    .benefits-grid {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .benefit {
        display: block;
        width: 45%;
      }
    }
  }

  section.impact {
    .testimonies {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .testimony {
        margin: 10px;
        width: 45%;
      }
    }
  }


  /***************/
  // Story Page (Tablet+)

  article.story {
    .story-heading {
      padding: 2em 0 1em;
      div {
        .story-title {
          font-size: 35px;
          text-align: center;
        }
      }
    }
  }


}

/**************************************************
*********        Desktop+ Breakpoint       ********
***************************************************/

// Description: Styles here are only applied to desktop and larger


@media screen and (min-width: 1024px) {

  /* Base Typography (Desktop+)
  ***************************************************/

  p { font-size: 16px; }
  h3 { font-size: 22px; }

  /* Base Section System Styles (Desktop+)
  ***************************************************/

  .section-heading { width: 60%; }

  .margins {
    max-width: 960px;
    padding: 0;
  }

  .vmargins {
    padding-top: 6em;
    padding-bottom: 1em;
  }

  .halves {
    margin-bottom: 96px;
    .text-half {
      justify-content: flex-end;
      .text-container {
        max-width: 475px;
        padding: 8em 0 4em 4em;
      }
    }
  }

  .reverse-halves {
    .text-half {
      .text-container {
        float: right;
        padding-right: 6em;
        padding-left: 0;
      }
    }
  }

  .narrow { max-width: 650px; }
  .extra-narrow { max-width: 500px; }

  /* Global Modules (Mobile+)
  ***************************************************/

  section.cta {
    .margins {
      max-width: 100%;
      width: 100%;
    }
  }


  /* Page-specific Modules (Desktop+)
  ***************************************************/

  /***************/
  // Landing (Mission) Page (Desktop+)

  section.hero {
    .margins {
      .button {
        width: 25%;
        margin: 0 auto;
      }
    }
  }

  section.teams {
    padding-top: 3em;
    .teams-grid {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .team {
        width: 29%;
      }
    }
  }

  /***************/
  // Culture Page (Desktop+)

  section.videos {
    .video-grid { max-width: 800px; margin: 0 auto; }
  }

  section.benefits {
    .benefits-grid {
      .benefit {
        width: 29%;
      }
    }
  }

  section.impact {
    .testimonies {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .testimony {
        margin: 10px;
        width: 31%;
      }
    }
  }

  /***************/
  // Positions Page (Desktop+)

  section.open-positions {
    //.margins { padding-left: 80px; }
  }


}
